configs/*
!configs/bob.json
!configs/nerd_ehead.json
!configs/nerd_gold.json
!configs/nerf_chair.json
!configs/nerf_drums.json
!configs/nerf_ficus.json
!configs/nerf_hotdog.json
!configs/nerf_lego.json
!configs/materials.json
!configs/nerf_mic.json
!configs/nerf_ship.json
!configs/spot_fixlight.json
!configs/spot_metal.json
!configs/spot.json
data/*
!data/bob/*
!data/irrmaps/*
!data/nerd/*
!data/spot/*
!data/tets/*
!data/download_datasets.py
!data/sphere.mtl
!data/sphere.obj